[submodule "Anacardia/Anacardia/vendor/spdlog"]
	path = Anacardia/Anacardia/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule ".\\Anacardia\\vendor\\GLFW"]
	path = .\\Anacardia\\vendor\\GLFW
	url = git@github.com:argotemedrano/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
